* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.button {
  padding: 5px;
}

.modal-enabled {
  overflow: hidden;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  overflow: auto;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.modal--active {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal--blured {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.modal__container {
  margin: auto 0;
  max-width: 1200px;
  padding: 10px;
}
.modal__content {
  display: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.modal__content--active {
  display: block;
}

.fadeIn {
  animation: fadeIn var(--time) ease-in-out;
}

.fadeInDown {
  -webkit-animation: fadeInDown var(--time) ease-in-out;
          animation: fadeInDown var(--time) ease-in-out;
}

.fadeInUp {
  -webkit-animation: fadeInUp var(--time) ease-in-out;
          animation: fadeInUp var(--time) ease-in-out;
}

.zoomIn {
  -webkit-animation: zoomIn var(--time) ease-in-out;
          animation: zoomIn var(--time) ease-in-out;
}

.bounce {
  -webkit-animation: bounce var(--time) ease-in-out;
          animation: bounce var(--time) ease-in-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}