@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    min-height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: Poppins;
    background: #232a3b;
}

.container {
    max-width: 1200px;
    padding: 30px 10px;
    margin: 0 auto;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    background: transparent;
    box-shadow: 0 5px 10px #000;
}

.card__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: rgb(241, 248, 255);
    color: rgb(5, 19, 32);
}

.card__text-content {
    margin-bottom: 10px;
    word-break: break-word;
}

.card__button {
    background-color: #232a3b;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #090b0f;
    cursor: pointer;
    font-family: inherit;
    color: #ccc;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.card__button:hover {
    background-color: #496396;
    color: rgb(235, 235, 235);
}

.card__button:focus-visible {
    background-color: #496396;
    color: rgb(235, 235, 235);
}

.card__image-container {
    height: 220px;
    width: 100%;
    overflow: hidden; 
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    will-change: transform;
    cursor: pointer;
    transition: all 0.5s ease;
    opacity: 0.8;
}

.card__image:hover {
    transform: scale(1.2);
    opacity: 1;
}

.card__text {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.card__tags {
    display: flex;
    margin-bottom: 5px;
}

.card__tag {
    padding: 1px 5px;
    margin-right: 5px;
    background-color: #ecf0f7;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.9rem;
}

.card__heading {
    margin-bottom: 10px;
    font-size: 2rem;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    overflow: auto;
    z-index: 999;
}

.modal__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}

.modal__content {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.modal__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal__close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    background-color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
}

.modal__close-button:hover {
    background-color: rgba(175, 175, 175, 0.5);
    transform: scale(1.1);
}

.modal__close-button:focus-visible {
    background-color: rgba(175, 175, 175, 0.5);
    transform: scale(1.1);
}

.modal__close-button-image {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.modal__text {
    background-color: #ecf0f7;
    padding: 20px 45px 20px 20px;
    color: rgb(0, 0, 0);
}

.overflow {
    overflow: hidden;
}

@media (max-width: 997px){
    .card-container {
        grid-template-columns: 1fr 1fr;
        gap: 50px 50px;
    }
}

@media (max-width: 775px){
    .card-container {
        grid-template-columns: 1fr;
    }
}