@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181835;
    font-family: Poppins;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    margin: 10px 0;
    padding: 20px 30px 30px 30px;
    border-radius: 10px;
    background: linear-gradient(#540e91, #2d0353);
    box-shadow: 0px 0px 15px 2px #a451ec;
}

.colors-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.color-container {
    width: 160px;
    height: 160px;
    border: 5px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
}

.color-container:hover {
    box-shadow: 0px 0px 15px 3px #a451ec;
}

.color-container:focus-visible {
    box-shadow: 0px 0px 15px 3px #a451ec;
}

.color-output {
    position: absolute;
    bottom: -5px;
    right: -5px;
    z-index: 1;
    padding: 5px 20px;
    width: 120px;
    border-radius: 10px;
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    background-color: #fff;
    transform: rotate(-15deg);
}

.heading {
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 35px;
    color: #fff;
    text-align: center;
}

.button {
    padding: 10px 40px;
    margin-top: 50px;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    background-color: #5a24a0;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.button:focus-visible {
    box-shadow: 0px 0px 10px 1px #a451ec;
    transform: scale(1.01);
}

.button:hover {
    box-shadow: 0px 0px 10px 1px #a451ec;
}

.button:active {
    transform: scale(0.99);
}

.tooltip {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 20px;
    background-color: #ffffff99;
    font-size: 20px;
    opacity: 1;
    visibility: hidden;
    cursor: pointer;
    transition: all 0.2s ease;
}

.tooltip--active {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 500px){
    .color-container  {
        width: 100px;
        height: 100px;
    }
    .color-output {
        width: 80px;
        padding: 5px;
    }
    .heading {
        font-size: 25px;
    }
    .button {
        padding: 5px 10px;
    }
    .tooltip {
        padding: 10px;
    }
}