@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, button, textarea, select {
  font-family: inherit;
}

body,
html {
  min-height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(217, 221, 223, 0.8352941176);
  font-size: 16px;
  font-family: Poppins;
  background: rgba(80, 24, 192, 0.8);
}

.container {
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
}

.app {
  border-radius: 1rem;
  padding: 2rem;
  background-color: #fff;
}
.app__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.app__select {
  padding: 0.2rem;
  margin-bottom: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  font-size: 1.2rem;
}
.app__label {
  padding-left: 0.1rem;
  margin-bottom: 0.05rem;
  font-size: 1.1rem;
}
.app__output {
  margin-bottom: 0.7rem;
}
.app__button {
  padding: 0.45rem;
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.app__button:hover {
  background-color: rgba(80, 24, 192, 0.8);
  color: #fff;
}
.app__color-preview {
  height: 250px;
  margin-bottom: 0.4rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  overflow: hidden;
}
.output__copy-button {
  padding: 0.2rem;
  font-size: 1rem;
  border: none;
  border-top: 1px solid #ccc;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.output__copy-button:hover {
  background-color: rgba(80, 24, 192, 0.8);
  color: #fff;
}
.output__copy-image {
  width: 20px;
  height: 20px;
}
.output__text {
  font-size: 0.9rem;
  padding: 0.3rem;
  resize: none;
  border: none;
  outline: none;
}

@media (max-width: 400px) {
  .app {
    padding: 2rem 0.5rem;
  }
}